<!DOCTYPE html><html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I strove for none, for none was worth my strife.">
    <meta name="author" content="Xiayun Sun">
    <title>Do Nothing | Do Nothing</title>
    
            <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/rst.css" rel="stylesheet" type="text/css">
        <link href="assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="assets/css/colorbox.css" rel="stylesheet" type="text/css">
        <link href="assets/css/theme.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
            <link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">

    
    
    
</head>
<body>
<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=".">Do Nothing</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            
                <li class="active"><a href="#">Home</a>
                </li><li><a href="stories/about.html">About</a>
                </li><li><a href="archive.html">Archives</a>
                </li><li><a href="categories/index.html">Tags</a>
                </li><li><a href="rss.xml">RSS</a>

        </li></ul>

        <ul class="nav navbar-nav navbar-right">
            
            
                
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<!-- End of Menubar -->

<div class="container">
    <div class="body-content">
        <!--Body content-->
        <div class="row">
            
        <div class="postbox">
        <h1><a href="posts/week-20140323.html">Weekly 20140323</a>
        <small>  
             Posted: <time class="published" datetime="2014-03-20T19:52:36">2014-03-20 19:52</time>
        </small></h1>
        <hr>
        <h4><a href="http://sahandsaba.com/thirty-python-language-features-and-tricks-you-may-not-know.html">30 Python language features and tricks</a></h4>
<ul>
<li>Extended unpacking</li>
</ul>
<div class="code"><pre><span class="o">&gt;&gt;&gt;</span> <span class="n">a</span><span class="p">,</span> <span class="o">*</span><span class="n">b</span><span class="p">,</span> <span class="n">c</span> <span class="o">=</span> <span class="p">[</span><span class="mi">1</span><span class="p">,</span><span class="mi">2</span><span class="p">,</span><span class="mi">3</span><span class="p">,</span><span class="mi">4</span><span class="p">]</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">b</span>
<span class="p">[</span><span class="mi">2</span><span class="p">,</span><span class="mi">3</span><span class="p">]</span>
</pre></div>


<ul>
<li>List slices with negative step</li>
</ul>
<div class="code"><pre><span class="o">&gt;&gt;&gt;</span> <span class="n">a</span> <span class="o">=</span> <span class="p">[</span><span class="mi">1</span><span class="p">,</span><span class="mi">3</span><span class="p">,</span><span class="mi">4</span><span class="p">,</span><span class="mi">5</span><span class="p">]</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">a</span><span class="p">[::</span><span class="o">-</span><span class="mi">1</span><span class="p">]</span>
<span class="p">[</span><span class="mi">5</span><span class="p">,</span><span class="mi">4</span><span class="p">,</span><span class="mi">3</span><span class="p">,</span><span class="mi">1</span><span class="p">]</span>
</pre></div>


<ul>
<li>Name slices (<code>slice(start, end, slice)</code>)</li>
</ul>
<div class="code"><pre><span class="o">&gt;&gt;&gt;</span> <span class="n">LASTTHREE</span> <span class="o">=</span> <span class="nb">slice</span><span class="p">(</span><span class="o">-</span><span class="mi">3</span><span class="p">,</span> <span class="bp">None</span><span class="p">,</span> <span class="mi">2</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">a</span> <span class="o">=</span> <span class="p">[</span><span class="mi">1</span><span class="p">,</span><span class="mi">2</span><span class="p">,</span><span class="mi">3</span><span class="p">,</span><span class="mi">4</span><span class="p">,</span><span class="mi">5</span><span class="p">,</span><span class="mi">6</span><span class="p">]</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">a</span><span class="p">[</span><span class="n">LASTTHREE</span><span class="p">]</span>
<span class="p">[</span><span class="mi">4</span><span class="p">,</span><span class="mi">6</span><span class="p">]</span>
</pre></div>


<ul>
<li>Dictionary comprehension</li>
</ul>
<div class="code"><pre><span class="o">&gt;&gt;&gt;</span> <span class="n">m</span> <span class="o">=</span> <span class="p">{</span><span class="n">x</span><span class="p">:</span> <span class="n">x</span> <span class="o">*</span> <span class="mi">3</span> <span class="k">for</span> <span class="n">x</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">5</span><span class="p">)}</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">m</span>
<span class="p">{</span><span class="mi">0</span><span class="p">:</span><span class="mi">0</span><span class="p">,</span> <span class="mi">1</span><span class="p">:</span><span class="mi">3</span><span class="p">,</span> <span class="mi">2</span><span class="p">:</span><span class="mi">6</span><span class="p">,</span> <span class="mi">3</span><span class="p">:</span><span class="mi">9</span><span class="p">,</span> <span class="mi">4</span><span class="p">:</span><span class="mi">12</span><span class="p">,</span> <span class="mi">5</span><span class="p">:</span><span class="mi">15</span><span class="p">}</span>
</pre></div>


<ul>
<li>Named tuples</li>
</ul>
<div class="code"><pre><span class="o">&gt;&gt;&gt;</span> <span class="n">Point</span> <span class="o">=</span> <span class="n">collections</span><span class="o">.</span><span class="n">namedtuple</span><span class="p">(</span><span class="s">'Point'</span><span class="p">,</span> <span class="p">[</span><span class="s">'x'</span><span class="p">,</span> <span class="s">'y'</span><span class="p">])</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">b</span> <span class="o">=</span> <span class="n">Point</span><span class="p">(</span><span class="mi">11</span><span class="p">,</span><span class="mi">13</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">b</span><span class="o">.</span><span class="n">y</span>
<span class="mi">13</span>
</pre></div>


<ul>
<li>Use capital letter for set variables</li>
<li>Counter</li>
</ul>
<div class="code"><pre><span class="o">&gt;&gt;&gt;</span> <span class="kn">from</span> <span class="nn">collections</span> <span class="kn">import</span> <span class="n">Counter</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">a</span> <span class="o">=</span> <span class="n">Counter</span><span class="p">([</span><span class="mi">1</span><span class="p">,</span><span class="mi">1</span><span class="p">,</span><span class="mi">2</span><span class="p">,</span><span class="mi">3</span><span class="p">])</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">a</span>
<span class="n">Counter</span><span class="p">({</span><span class="mi">1</span><span class="p">:</span><span class="mi">2</span><span class="p">,</span> <span class="mi">2</span><span class="p">:</span><span class="mi">1</span><span class="p">,</span> <span class="mi">3</span><span class="p">:</span><span class="mi">1</span><span class="p">})</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">a</span><span class="o">.</span><span class="n">most_common</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span>
<span class="p">[(</span><span class="mi">1</span><span class="p">,</span> <span class="mi">2</span><span class="p">)]</span>
</pre></div>


<ul>
<li><code>collections.deque</code> Double-ended queue</li>
<li>default dict</li>
</ul>
<div class="code"><pre><span class="o">&gt;&gt;&gt;</span> <span class="n">m</span> <span class="o">=</span> <span class="n">collections</span><span class="o">.</span><span class="n">defaultdict</span><span class="p">(</span><span class="nb">int</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">m</span><span class="p">[</span><span class="s">'a'</span><span class="p">]</span>
<span class="mi">0</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">m</span> <span class="o">=</span> <span class="n">collections</span><span class="o">.</span><span class="n">defaultdict</span><span class="p">(</span><span class="nb">str</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">m</span><span class="p">[</span><span class="s">'a'</span><span class="p">]</span>
<span class="s">''</span>
</pre></div>


<hr>
<h4>Simple URL encryption</h4>
<p>Idea from <a href="http://stackoverflow.com/questions/4431922/link-encryption-with-django-and-python">here</a></p>
<p>Append a KEY string (with an easy delimitor) to the ID field, then use <code>base64.urlsafe_b64encode</code> and <code>base64.urlsafe_b64decode</code></p>
            
        
    <p>
        <a href="posts/week-20140323.html#disqus_thread" data-disqus-identifier="cache/posts/week-20140323.html">Comments</a>


        </p></div>
        <div class="postbox">
        <h1><a href="posts/2013.html">2013</a>
        <small>  
             Posted: <time class="published" datetime="2014-02-24T23:18:25">2014-02-24 23:18</time>
        </small></h1>
        <hr>
        <p>年终奖到账, 交了离职信, 真正就和过去一年说再见了. </p>
<p>2013年是我的本命年, 真的是曲折起伏波澜壮阔. 从年初工作压力大不顺心一直到4月跌到谷底，到拿到了HackerSchool的录取去纽约玩儿了三个月，期间写代码功力见长但也并不是一帆风顺，回到香港后慢慢地把自己的路子从金融扭到工程，而今再过一个月我所有的工资就将来自于Python, 同时我和其他3个小伙伴一起成立了Women Who Code HK, 手里还有几个项目在参与. 这些事情都是4月前做梦也想不到的。</p>
<h4>全年目标回顾</h4>
<ul>
<li>读书：10本计算机，12本非计算机(6本虚构6本非虚构，包括多于2本中文书)</li>
</ul>
<p>完成程度：读了8本计算机，1本虚构(福尔摩斯), 2本非虚构(Mastery, 中国近代史)
计算机书读得多了别的书精力就少了...</p>
<ul>
<li>
<p>编程方面: </p>
<ul>
<li>阅读一个开源项目代码 --&gt; 小项目读了不少，大项目没有。这也是今年打算加强的。</li>
<li>1万行代码 --&gt; 完成。数了数大概是1.5万行，Python和OCaml一半一半。今年到目前为止已经写了3千行了....</li>
<li>在GitHub上被打星星/有fork --&gt; 完成。目前一共8颗星。不过纽约回来后忙得没有再启动新的个人项目。是时候立项了。</li>
<li>活跃在一个邮件列表(mailing list)/社团(community) --&gt; 失败</li>
<li>用代码赚钱--&gt; 完成</li>
</ul>
</li>
<li>
<p>生活方面: </p>
<ul>
<li>旅游: --&gt; 去了新西兰和纽约</li>
<li>存钱: --&gt; 多谢年终奖，即使停薪三个月依然完成目标。</li>
<li>换一份工作 --&gt; 完成</li>
<li>小提琴500小时，进乐团 --&gt; 失败。花在小提琴上面的时间少了。不过生活的重心本来也转移了。</li>
<li>学会游泳 --&gt; 连续第二年失败....</li>
<li>跑100次步 --&gt; 跑步33次200公里，爬山2次40公里，徒手锻炼23次。和去年相比大幅下滑。</li>
<li>双休日10点前起床 --&gt; 纽约前失败了10次。纽约后全部做到，因为实在是太忙了，有时候想睡懒觉在床上用手机看下邮件就默默爬起来洗澡干活去了....</li>
</ul>
</li>
<li>
<p>年度目标总结</p>
</li>
</ul>
<p>1年前写这份目标的时候还一边写一边笑话自己自不量力。回过头来看真的是梦想有多大可能性就有多大。譬如我曾经觉得编程方面我一个都实现不了，结果回过头来看编程方面竟然完成率几乎100%。这要是回到1年前告诉那时的自己都不会相信的吧。</p>
<h4>HackerSchool给了我什么</h4>
<p>如果写一个HackerSchool之后我做了些什么会是一个牛逼闪闪的单子: </p>
<ul>
<li>换了工作</li>
<li>同时给某个初创企业写Python后台</li>
<li>成立了Women Who Code HK</li>
<li>参与了一些国际化的开源项目，经常半夜和不同时区的小伙伴们一起开会。</li>
</ul>
<p>但这些都是表象，我清楚背后HackerSchool真正给我的是这些：</p>
<ul>
<li>无与伦比的人脉。认识了一群也许是未来十几年甚至几十年美国和一些其他地区程序界的中坚力量。</li>
<li>养成了良好的编程和讨论习惯。保持了好奇心。</li>
<li>学会分享。</li>
<li>不再害怕面对觉得太学术太难的问题。</li>
<li>以及最重要的，学会去做一个无论多么牛逼闪闪都依然善良耐心的正人君子。</li>
</ul>
<p>这些得着是对无论以后做什么都有益的。</p>
<h4>我为什么离开DB</h4>
<p>基本就是这几个原因: </p>
<ol>
<li>市场风险不是我的长期理想职业方向, 如果还在金融业的话我希望自己转到前台做交易员。而新的工作离这个目标更接近。</li>
<li>三年下来觉得我已经像个吸饱了水的海绵学习曲线已经放平了，每天的工作都在自己的comfort zone里面并没有太大挑战。我承认小队长的工作看起来比较有趣，但我是否愿意继续混十几年做到他这个地方呢？我觉得这十几年花在别的地方成就会更大。</li>
<li>在这个团队做得不是很开心，说狠一点就是经常被猪一样的队友噎死。</li>
<li>我最怕的是以后变成那些人到中年没有别的本事只能在后台混日子还感觉良好的大多数人。</li>
</ol>
<p>递信之后意外地得到了许多老大级别人物的挽留(亚洲区市场风险老大形容我是one of the brightest youngsters I've ever worked with -- 我共事过的最聪明的年轻人之一)，经常被各种MD叫到小屋子里去谈话，这至少也证明了三年里我的工作得到了肯定。这样离开也没有遗憾了。</p>
<p>也收到了一些所谓counter-offer, 但是敝行给出的职位我都不是很满意，我最想去的衍生品交易没有空位，然后给在纽约认识的前瑞银某MD写了个邮件，他回过来说: </p>
<p>It's been pointed out recently that "do what you love" is obnoxious as a general philosophy, because the vast majority of the world doesn't have that option. But if you do have the option, then it's a no-brainer.</p>
<p>(有人指出"要做你热爱的事情"是无稽之谈因为这个世界上的多数人都没有这个选择。然而如果你真的有这个选项，根本不用犹豫。)</p>
<p>然后前两天晚上又和前教授新老板吃了个晚饭，一起聊未来的技术发展聊得很开心。</p>
<p>所以就这样决定了吧。我总是说30岁前我不打算正经赚钱，我在德银也算攒到了第一笔金，是时候趁还输得起的年纪去别的地方闯一闯了。</p>
<h4>总结</h4>
<p>今年是毕业参加工作的第三年。如果第一年是初入职场的兴奋，第二年是轻车熟路，第三年就是临界点了。这一年是目前为止最辛苦的一年，也是收获最大的一年，我很高兴付出都有回报，而梦想依然在路上。</p>
<p>当然了，要成为"本年龄段本性别里最好的程序员", 要实现给航天飞机和电影写代码的理想，要一项项勾掉"人生100个目标"那张单子，我才刚走过起点呢。</p>
<p>Always remember the future comes one day a time.</p>
<p>永远记住，未来是一天天来到的。</p>
            
        
    <p>
        <a href="posts/2013.html#disqus_thread" data-disqus-identifier="cache/posts/2013.html">Comments</a>


        </p></div>
        <div class="postbox">
        <h1><a href="posts/miguels-flask-mega-tutorial.html">Miguel's flask mega tutorial</a>
        <small>  
             Posted: <time class="published" datetime="2014-02-23T17:01:52">2014-02-23 17:01</time>
        </small></h1>
        <hr>
        <p><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Link</a></p>
<h5>Notes</h5>
<ul>
<li>flask:<ul>
<li>Use <code>url_for</code> to build and reference URLs</li>
<li><code>app.before_request</code>, <code>app.after_request</code> (<code>after_request</code> can be used to measure database query performance)</li>
<li>Rotating file handler</li>
<li>Don't use <code>window.history.back</code> in forms</li>
<li>Move logic away from <code>views</code></li>
<li>Better return query objects than query results</li>
<li>Pagination (<code>yield_per</code> in sqlalchemy)</li>
<li>Unit test: <ul>
<li>use a different test database</li>
<li>regression testing: write a test for every new bug</li>
</ul>
</li>
<li>Debugging: <code>pdb.set_trace()</code></li>
</ul>
</li>
<li>Jinja:<ul>
<li>Global variables/utilities like <code>config</code>, <code>g</code>, <code>session</code>, <code>url_for</code> are available in Jinja templates</li>
<li><code>render_template</code> can be used in rendering HTML email templates</li>
</ul>
</li>
<li>Useful plugins: <code>coverage</code>, <code>cProfile</code>, werkzeug profiler</li>
</ul>
<h5>Code snippets</h5>
<ul>
<li>
<p>pass variable in URL:</p>
<p><code>python
@app.route('/index/&lt;int:page&gt;')
def turnto(page):</code></p>
</li>
<li>
<p>use <code>include</code> in control statements in Jinja:</p>
<p><code>{% for post in posts %}
    {% include "post.html" %}
{% endfor %}</code></p>
</li>
<li>
<p>rollback when error occurred:</p>
<p><code>python
@app.errorhandler(500)
def err500():
    dbsession.rollback()</code></p>
</li>
<li>
<p>Python's fake mail server: <code>python -m smtpd -n -c DebuggingServer localhost:1025</code></p>
</li>
<li>
<p>Asynchoronous decorator:</p>
<p>```python
from threading import Thread
from functools import wraps</p>
<p>def async(f):
    @wraps(f)
    def wrapper(<em>args, </em>*kwargs):
        thr = Thread(target = f, args = args, kwargs = kwargs)
        thr.start()
    return wrapper
```</p>
</li>
<li>
<p>Expose new global variables in Jinja:</p>
<p><code>python
app.jinja_env.globals['momentjs'] = momentjs</code></p>
</li>
</ul>
            
        
    <p>
        <a href="posts/miguels-flask-mega-tutorial.html#disqus_thread" data-disqus-identifier="cache/posts/miguels-flask-mega-tutorial.html">Comments</a>


        </p></div>
    
<div>
<ul class="pager">
</ul>
</div>

    
        
       <script type="text/javascript">var disqus_shortname="nikolademo";(function(){var a=document.createElement("script");a.async=true;a.type="text/javascript";a.src="http://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("HEAD")[0]||document.getElementsByTagName("BODY")[0]).appendChild(a)}());</script>


	


        </div>
        <!--End of body content-->

        <footer>
            Contents © 2014         <a href="mailto:">Xiayun Sun</a> - Powered by         <a href="http://getnikola.com">Nikola</a>         
        </footer>
    </div>
</div>


            <script src="assets/js/jquery-1.10.2.min.js" type="text/javascript"></script>
            <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="assets/js/jquery.colorbox-min.js" type="text/javascript"></script>


	
<!-- Social buttons -->
<div id="addthisbox" class="addthis_toolbox addthis_peekaboo_style addthis_default_style addthis_label_style addthis_32x32_style">
<a class="addthis_button_more">Share</a>
<ul><li><a class="addthis_button_facebook"></a>
</li><li><a class="addthis_button_google_plusone_share"></a>
</li><li><a class="addthis_button_linkedin"></a>
</li><li><a class="addthis_button_twitter"></a>
</li></ul>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f7088a56bb93798"></script>
<!-- End of social buttons -->


    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>


</body>
</html>