<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# " lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miguel's flask mega tutorial | Do Nothing</title>

    
            <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/rst.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/colorbox.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/theme.css" rel="stylesheet" type="text/css">

    
            <link rel="alternate" type="application/rss+xml" title="RSS" href="../rss.xml">

      <link rel="canonical" href="https://xysun.github.io/posts/miguels-flask-mega-tutorial.html">




    
        <!--[if lt IE 9]><script src="../assets/js/html5.js"></script><![endif]-->

    


    

    <meta name="author" content="Xiayun Sun">
        <link rel="next" href="2013.html" title="2013" type="text/html">
    
    <meta property="og:site_name" content="Do Nothing">
    <meta property="og:title" content="Miguel's flask mega tutorial">
    <meta property="og:url" content="https://xysun.github.io/posts/miguels-flask-mega-tutorial.html">
    <meta property="og:description" content="Link
Notes

flask:
Use url_for to build and reference URLs
app.before_request, app.after_request (after_request can be used to measure database query performance)
Rotating file handler
Don't use windo">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="2014-02-23T17:01:52+08:00">
           <meta property="article:tag" content="Code">

    

    



</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
<!-- This keeps the margins nice -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://xysun.github.io">

                <span id="blog-title">Do Nothing</span>
            </a>
        </div>
<!-- /.navbar-header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                
                <li>
<a href="../archive.html">Archive</a>
                </li>
<li>
<a href="../stories/about.html">About</a>
                </li>
<li>
<a href="../categories/index.html">Tags</a>
                </li>
<li>
<a href="../rss.xml">RSS feed</a>

                
            </li>
</ul>

            <ul class="nav navbar-nav navbar-right">
                
                
                    
    <li>
    <a href="miguels-flask-mega-tutorial.md" id="sourcelink">Source</a>
    </li>

                
            </ul>
        </div>
<!-- /.navbar-collapse -->
    </div>
<!-- /.container -->
</nav>

<!-- End of Menubar -->

<div class="container" id="content">
    <div class="body-content">
        <!--Body content-->
        <div class="row">
            
            
<article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">
    
    <header>
        
    <h1 class="p-name entry-title" itemprop="headline name"><a href="#" class="u-url">Miguel's flask mega tutorial</a></h1>

        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">Xiayun Sun</span></p>
            <p class="dateline"><a href="#" rel="bookmark"><time class="published dt-published" datetime="2014-02-23T17:01:52+08:00" itemprop="datePublished" title="2014-02-23 17:01">2014-02-23 17:01</time></a></p>
                <p class="commentline">
        
    <a href="miguels-flask-mega-tutorial.html#disqus_thread" data-disqus-identifier="cache/posts/miguels-flask-mega-tutorial.html">Comments</a>


            
        </p>
<p class="sourceline"><a href="miguels-flask-mega-tutorial.md" id="sourcelink">Source</a></p>

        </div>
        

    </header>

    <div class="e-content entry-content" itemprop="articleBody text">
    <div>
<p><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Link</a></p>
<h5>Notes</h5>
<ul>
<li>flask:<ul>
<li>Use <code>url_for</code> to build and reference URLs</li>
<li>
<code>app.before_request</code>, <code>app.after_request</code> (<code>after_request</code> can be used to measure database query performance)</li>
<li>Rotating file handler</li>
<li>Don't use <code>window.history.back</code> in forms</li>
<li>Move logic away from <code>views</code>
</li>
<li>Better return query objects than query results</li>
<li>Pagination (<code>yield_per</code> in sqlalchemy)</li>
<li>Unit test: <ul>
<li>use a different test database</li>
<li>regression testing: write a test for every new bug</li>
</ul>
</li>
<li>Debugging: <code>pdb.set_trace()</code>
</li>
</ul>
</li>
<li>Jinja:<ul>
<li>Global variables/utilities like <code>config</code>, <code>g</code>, <code>session</code>, <code>url_for</code> are available in Jinja templates</li>
<li>
<code>render_template</code> can be used in rendering HTML email templates</li>
</ul>
</li>
<li>Useful plugins: <code>coverage</code>, <code>cProfile</code>, werkzeug profiler</li>
</ul>
<h5>Code snippets</h5>
<ul>
<li>
<p>pass variable in URL:</p>
<p><code>python
@app.route('/index/&lt;int:page&gt;')
def turnto(page):</code></p>
</li>
<li>
<p>use <code>include</code> in control statements in Jinja:</p>
<p><code>{% for post in posts %}
    {% include "post.html" %}
{% endfor %}</code></p>
</li>
<li>
<p>rollback when error occurred:</p>
<p><code>python
@app.errorhandler(500)
def err500():
    dbsession.rollback()</code></p>
</li>
<li>
<p>Python's fake mail server: <code>python -m smtpd -n -c DebuggingServer localhost:1025</code></p>
</li>
<li>
<p>Asynchoronous decorator:</p>
<p>```python
from threading import Thread
from functools import wraps</p>
<p>def async(f):
    @wraps(f)
    def wrapper(<em>args, </em>*kwargs):
        thr = Thread(target = f, args = args, kwargs = kwargs)
        thr.start()
    return wrapper
```</p>
</li>
<li>
<p>Expose new global variables in Jinja:</p>
<p><code>python
app.jinja_env.globals['momentjs'] = momentjs</code></p>
</li>
</ul>
</div>
    </div>
    <aside class="postpromonav">
    <nav>
    
        <ul itemprop="keywords" class="tags">
           <li><a class="tag p-category" href="../categories/code.html" rel="tag">Code</a></li>
        </ul>

    
        <ul class="pager">
            <li class="next">
                <a href="2013.html" rel="next" title="2013">Next post</a>
            </li>
        </ul>

    </nav>
    </aside>
        <section class="comments">
        <h2>Comments</h2>
        
        
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="nikolademo",
            disqus_url="https://xysun.github.io/posts/miguels-flask-mega-tutorial.html",
        disqus_title="Miguel's flask mega tutorial",
        disqus_identifier="cache/posts/miguels-flask-mega-tutorial.html",
        disqus_config = function () {
            this.language = "en";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="//disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section>
    

</article>

        
       <script>var disqus_shortname="nikolademo";(function(){var a=document.createElement("script");a.async=true;a.src="//"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script>



        </div>
        <!--End of body content-->

        <footer>
            Contents © 2014         <a href="mailto:xiayunsun@gmail.com">Xiayun Sun</a> - Powered by         <a href="http://getnikola.com" rel="nofollow">Nikola</a>         
            
        </footer>
    </div>
</div>


            <script src="../assets/js/jquery.min.js"></script>
            <script src="../assets/js/bootstrap.min.js"></script>
            <script src="../assets/js/moment-with-locales.min.js"></script>
            <script src="../assets/js/fancydates.js"></script>
        <script src="../assets/js/jquery.colorbox-min.js"></script>
    
<!-- Social buttons -->
<div id="addthisbox" class="addthis_toolbox addthis_peekaboo_style addthis_default_style addthis_label_style addthis_32x32_style">
<a class="addthis_button_more">Share</a>
<ul>
<li>
<a class="addthis_button_facebook"></a>
</li>
<li>
<a class="addthis_button_google_plusone_share"></a>
</li>
<li>
<a class="addthis_button_linkedin"></a>
</li>
<li>
<a class="addthis_button_twitter"></a>
</li>
</ul>
</div>
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f7088a56bb93798"></script>
<!-- End of social buttons -->


    <script>jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <!-- fancy dates -->
    <script>
    moment.locale("");
    fancydates(0, "YYYY-MM-DD HH:mm");
    </script>
    <!-- end fancy dates -->
    


</body>
</html>
